<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/carwarehouse</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">password</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="show_sql">true</property>

        <mapping class="ru.job4j.carwarehouse.models.Car"/>
        <mapping class="ru.job4j.carwarehouse.models.Bodytype"/>
        <mapping class="ru.job4j.carwarehouse.models.Engine"/>
        <mapping class="ru.job4j.carwarehouse.models.Transmission"/>
        <mapping class="ru.job4j.carwarehouse.models.User"/>
        <mapping class="ru.job4j.carwarehouse.models.Picture"/>

    </session-factory>
</hibernate-configuration>